<div class="col-md-12">
    <div class="col-md-6">
        Total Companies
    </div>
    <div class="col-md-6">
        {{count}}&nbsp;
    </div>

    <h2>
        List of Companies , Displaying {{companies.length}} Click to go to details
    </h2>

    <ul>
        <li ng-repeat="company in companies">
            <a ui-sref="details({companyId:company.companyId})">
            {{company.companyId}}-
            {{company.name}}-
            {{company.address}}-
            {{company.country}}-
            {{company.city}}
                </a>
        </li>
        <li><a ui-sref="details">
            Add Company
        </a></li>
    </ul>

    <div>
       Go to Page:
        <ul  class="list-inline">
            <li ng-repeat="page in pages" ui-sref="home({pageNo:page})">
                {{page+1}}
            </li>
        </ul>

    </div>
</div>
